$orange: #ff6b00;
$copper: #be673a;
$green: #335e57;
$blue: #578086;
$lime: #bec344;
$greengray: #b6bdb0;
$gray: #ecebe8;

$black: #000000;
$warmblack: #333132;
$darkgray: #595959;
$midgray: #999999;
$lightgray: #cccccc;
$xlightgray: #f6f5f4;
$xxlightgray: #fbfbfb;
$white: #ffffff;
$trans: #0000001a;
