@font-face {
	src: url(../fonts/Basetica-Regular.woff2);
	font-family: "Basetica";
	font-style: normal;
	font-weight: 400;
}
@font-face {
	src: url(../fonts/Basetica-Medium.woff2);
	font-family: "Basetica";
	font-style: normal;
	font-weight: 600;
}
@font-face {
	src: url(../fonts/Basetica-Bold.woff2);
	font-family: "Basetica";
	font-style: normal;
	font-weight: 800;
}
@font-face {
	src: url(../fonts/BerlingskeSerifTx-Regular.woff2);
	font-family: "Berlin";
	font-style: normal;
	font-weight: 400;
}
@font-face {
	src: url(../fonts/BerlingskeSerifTx-Bold.woff2);
	font-family: "Berlin";
	font-style: normal;
	font-weight: 800;
}
@font-face {
	src: url(../fonts/BerlingskeSerifTx-Italic.woff2);
	font-family: "Berlin";
	font-style: italic;
	font-weight: 400;
}
@font-face {
	src: url(../fonts/BerlingskeSerifTx-BoldItalic.woff2);
	font-family: "Berlin";
	font-style: italic;
	font-weight: 800;
}
